/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
    background thistle
    transform translateX(-120%)
    transition 0.55s
    padding 0 !important
    &.order-enter-active
        background thistle
        transform translateX(0)
        padding 2rem 0 !important

.order-exit
    background thistle 
    transition 0.5s
    transform: translateX(0)
    &.order-exit-active
        background thistle
        transform: translateX(+120%)
        padding 0

.count-enter
    transform translateY(-100%)
    transition 0.25s
    &.count-enter-active
        transform translateY(0)

.count-exit
    transform translateY(0)
    transition .5s
    position absolute
    left 0
    bottom 0
    &.count-exit-active
        transform translateY(-100%)